.Container {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 1em;
  align-self: center;
  text-align: center;
  color: white;
}

.Logo {
  width: 250px;
  align-self: center;
  padding-bottom: 5rem;
}

.Loading {
  align-self: center;
}


