.App-Wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.Card-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

/* ----------------- TITLE ------------------------ */

.App-Wrapper > h1 {
  padding: 1em;
}

/* ----------------- LOCATION --------------------- */

.location-container {
  width: 20em;
}

.location-container > input {
  width: 20em;
}

/* ------------------- FORECAST ------------------- */

.Forecast-Wrapper {
  width: 75vw;
}

.Forecast-Date {
  padding-top: 1.5em;
  font-weight: bold;
}

.Forecast-Detail {

}


