.App-Wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 3em;
  border: 1px solid blue;
}

.Card-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/* ------------------- FORECAST ------------------- */

.Forecast-Wrapper {
  width: 75vw;
}

.Forecast-Date {
  padding-top: 1.5em;
  font-weight: bold;
}

.Forecast-Detail {
  border-bottom: 1px solid black;
}

.Forecast-Detail > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Forecast-Detail > ul > li {
  margin: auto;
}

